<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgb.mapper.cust.CustXwqyMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.util.HashMap">
		select
		CUST_ID,JYXM,NCAY,GDRFGZ_FLAG,ACT_JL_DESC,EMPSUM,CRT_DATE,MTN_DATE,SSHY
		from cust_xwqy
		<where>
			<if test="CUST_ID != null and CUST_ID!=''"> and CUST_ID=#{CUST_ID,jdbcType=INTEGER}</if>
		</where>
	</select>
	<insert id="save" parameterType="java.util.Map">
		insert into cust_xwqy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="CUST_ID != null and CUST_ID!='' ">CUST_ID,</if>
			<if test="JYXM != null ">JYXM,</if>
			<if test="NCAY != null ">NCAY,</if>
			<if test="GDRFGZ_FLAG != null ">GDRFGZ_FLAG,</if>
			<if test="ACT_JL_DESC != null ">ACT_JL_DESC,</if>
			<if test="EMPSUM != null and EMPSUM!='' ">EMPSUM,</if>
			<if test="CRT_DATE != null ">CRT_DATE,</if>
			<if test="MTN_DATE != null ">MTN_DATE,</if>
			<if test="SSHY != null ">SSHY,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="CUST_ID != null and CUST_ID!=''">#{CUST_ID,jdbcType=INTEGER},</if>
			<if test="JYXM != null">#{JYXM,jdbcType=VARCHAR},</if>
			<if test="NCAY != null">#{NCAY,jdbcType=VARCHAR},</if>
			<if test="GDRFGZ_FLAG != null">#{GDRFGZ_FLAG,jdbcType=CHAR},</if>
			<if test="ACT_JL_DESC != null">#{ACT_JL_DESC,jdbcType=VARCHAR},</if>
			<if test="EMPSUM != null and EMPSUM!=''">#{EMPSUM,jdbcType=INTEGER},</if>
			<if test="CRT_DATE != null">#{CRT_DATE,jdbcType=VARCHAR},</if>
			<if test="MTN_DATE != null">#{MTN_DATE,jdbcType=VARCHAR},</if>
			<if test="SSHY != null">#{SSHY,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="update" parameterType="java.util.Map">
		update cust_xwqy
		<set>
			<if test="JYXM != null ">JYXM=#{JYXM,jdbcType=VARCHAR},</if>
			<if test="NCAY != null ">NCAY=#{NCAY,jdbcType=VARCHAR},</if>
			<if test="GDRFGZ_FLAG != null ">GDRFGZ_FLAG=#{GDRFGZ_FLAG,jdbcType=CHAR},</if>
			<if test="ACT_JL_DESC != null ">ACT_JL_DESC=#{ACT_JL_DESC,jdbcType=VARCHAR},</if>
			<if test="EMPSUM != null and EMPSUM!='' ">EMPSUM=#{EMPSUM,jdbcType=INTEGER},</if>
			<if test="CRT_DATE != null ">CRT_DATE=#{CRT_DATE,jdbcType=VARCHAR},</if>
			<if test="MTN_DATE != null ">MTN_DATE=#{MTN_DATE,jdbcType=VARCHAR},</if>
			<if test="SSHY != null ">SSHY=#{SSHY,jdbcType=VARCHAR},</if>
		</set>
		where CUST_ID=#{CUST_ID,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPk">delete from cust_xwqy where
		CUST_ID=#{CUST_ID,jdbcType=INTEGER}</delete>
	<delete id="delete">
		delete from cust_xwqy
		<where>
			<if test="CUST_ID != null and CUST_ID!=''"> and CUST_ID=#{CUST_ID,jdbcType=INTEGER}</if>
		</where>
	</delete>
</mapper>
