<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgb.mapper.cust.FinTransMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.util.HashMap">
		select
		CUST_ID,SEQ_NO,BANK_NAME,TRANS_TYPE,TRANS_AMT,QX,END_DATE,TRANS_DESC,CRT_DATE,MTN_DATE
		from fin_trans
		<where>
			<if test="CUST_ID != null and CUST_ID!=''"> and CUST_ID=#{CUST_ID,jdbcType=INTEGER}</if>
			<if test="SEQ_NO != null and SEQ_NO!=''"> and SEQ_NO=#{SEQ_NO,jdbcType=INTEGER}</if>
		</where>
	</select>
	<insert id="save" parameterType="java.util.Map">
		insert into fin_trans
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="CUST_ID != null and CUST_ID!='' ">CUST_ID,</if>
			<if test="SEQ_NO != null and SEQ_NO!='' ">SEQ_NO,</if>
			<if test="BANK_NAME != null ">BANK_NAME,</if>
			<if test="TRANS_TYPE != null ">TRANS_TYPE,</if>
			<if test="TRANS_AMT != null and TRANS_AMT!='' ">TRANS_AMT,</if>
			<if test="QX != null ">QX,</if>
			<if test="END_DATE != null ">END_DATE,</if>
			<if test="TRANS_DESC != null ">TRANS_DESC,</if>
			<if test="CRT_DATE != null ">CRT_DATE,</if>
			<if test="MTN_DATE != null ">MTN_DATE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="CUST_ID != null and CUST_ID!=''">#{CUST_ID,jdbcType=INTEGER},
			</if>
			<if test="SEQ_NO != null and SEQ_NO!=''">#{SEQ_NO,jdbcType=INTEGER},
			</if>
			<if test="BANK_NAME != null">#{BANK_NAME,jdbcType=VARCHAR},</if>
			<if test="TRANS_TYPE != null">#{TRANS_TYPE,jdbcType=CHAR},</if>
			<if test="TRANS_AMT != null and TRANS_AMT!=''">#{TRANS_AMT,jdbcType=DECIMAL},
			</if>
			<if test="QX != null">#{QX,jdbcType=VARCHAR},</if>
			<if test="END_DATE != null">#{END_DATE,jdbcType=VARCHAR},</if>
			<if test="TRANS_DESC != null">#{TRANS_DESC,jdbcType=VARCHAR},</if>
			<if test="CRT_DATE != null">#{CRT_DATE,jdbcType=VARCHAR},</if>
			<if test="MTN_DATE != null">#{MTN_DATE,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	<update id="update" parameterType="java.util.Map">
		update fin_trans
		<set>
			<if test="BANK_NAME != null ">BANK_NAME=#{BANK_NAME,jdbcType=VARCHAR},</if>
			<if test="TRANS_TYPE != null ">TRANS_TYPE=#{TRANS_TYPE,jdbcType=CHAR},</if>
			<if test="TRANS_AMT != null and TRANS_AMT!='' ">TRANS_AMT=#{TRANS_AMT,jdbcType=DECIMAL},</if>
			<if test="QX != null ">QX=#{QX,jdbcType=VARCHAR},</if>
			<if test="END_DATE != null ">END_DATE=#{END_DATE,jdbcType=VARCHAR},</if>
			<if test="TRANS_DESC != null ">TRANS_DESC=#{TRANS_DESC,jdbcType=VARCHAR},</if>
			<if test="CRT_DATE != null ">CRT_DATE=#{CRT_DATE,jdbcType=VARCHAR},</if>
			<if test="MTN_DATE != null ">MTN_DATE=#{MTN_DATE,jdbcType=VARCHAR},</if>
		</set>
		where CUST_ID=#{CUST_ID,jdbcType=INTEGER} and
		SEQ_NO=#{SEQ_NO,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPk">delete from fin_trans where
		SEQ_NO=#{SEQ_NO,jdbcType=INTEGER}</delete>
	<delete id="delete">
		delete from fin_trans
		<where>
			<if test="CUST_ID != null and CUST_ID!=''"> and CUST_ID=#{CUST_ID,jdbcType=INTEGER}</if>
			<if test="SEQ_NO != null and SEQ_NO!=''"> and SEQ_NO=#{SEQ_NO,jdbcType=INTEGER}</if>
		</where>
	</delete>
</mapper>
